@import 'partial';

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin: 0;padding: 0;border: 0;font-size: inherit;font: inherit;vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }

* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "MICROSOFT YaHei","Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;

  -webkit-touch-callout: none;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-text-size-adjust: 100%;
      text-size-adjust: 100%;

  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
      tap-highlight-color: rgba(255,255,255,0);
}

.hidden { display: none !important; }

html, body, ul, li, ol, p { margin: 0; padding: 0; }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 1.5rem; font-weight: normal; margin: 0; padding: 0; line-height: 1; }
a, a:hover, a:link, a:visited, a:active { text-decoration: none; }



.text-hide {
  @include text-hide();
}


.clearfix {
    @include clearfix();
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// ios 活动声明
.ios-declare::after {
  content: "* 此活动与苹果公司无关";
  color: rgba(255, 255, 255, .5);
  margin-left: 20px;
  font-size: 1rem;
  //line-height: 8rem;
}

.download-btns {
  a {
    width: 240px;
    border-radius: 6px;
    @include center-block();
  }
}


// lls ad
.lls-ad {
  display: block;
  @include size(100%, 49px);
  margin: 10px 0 25px;
  background: url(../images/ui/lls-ad.png) no-repeat center center;
  background-size: 179px 49px;
}

// 音频播放器基本样式
.audio-control {
  cursor: pointer;
  background: rgba(0,0,0,.4) url(../images/ui/audio-play.png) no-repeat center center;
  background-size: 100%;
}
.audio-control.stop {
  background: rgba(0,0,0,.4) url(../images/ui/audio-stop.png) no-repeat center center;
  background-size: 100%;
}
.audio-control.disabled {
  background: none;
  cursor: none;
}


// debug
.__debug {
  width: 90%;
  @include center-block();
  padding-bottom: 60px;
  div::before {
    @extend .label;
    display: inline-block;
    margin-right: 10px;
    width: 68px;
    text-align: center;
  }
  div {
    display: block;
    margin: 10px 0;
    word-break: break-all;
    word-wrap: break-word;
  }
  .log::before     {  @extend .label-primary; content: '#log';    }
  .success::before {  @extend .label-success; content: '#success';}
  .warn::before    {  @extend .label-warning; content: '#warn';}
  .info::before    {  @extend .label-info;    content: '#info';   }
  .error::before   {  @extend .label-danger;  content: '#error';  }
}
