@import 'base';


body {
    background: white;
}

// header
$header-bg: #33a4e0;
$header-bg-deepen: #2f8dc9;
$header-fg: white;

header {
    width: 100%;
    height: 43px;
    background: $header-bg;

    h1 {
        font-size: 1.8rem;
        color: $header-fg;
        line-height: 43px;
        margin-left: 30px;

        a {
            display: inline-block;
            font-size: 1.2rem;
            border-left: 1px solid $header-fg;
            margin-left: 5px;
            padding-left: 5px;
            height: 12px;
            line-height: 12px;
        }
    }

    .logo {
        float: left;
        margin: 14px 0 0 -15px;
    }

    .opts {
        float: right;
        margin: -26px 15px 0px 0px;
    }
}


// list & search
$light-color: #3399db;
$dark-color: #999999;
$white-color: #fefefe;

.search {
    overflow: hidden;

    .sprite-icon-search {
        margin: -26px 0px 0px -23px;
    }
}

.search-box {
    margin: 7px 10px;
    border: 1px solid $light-color;
    border-radius: 2px;
    height: 34px;
    padding-left: 32px;
    font-size: 1.3rem;

    input {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        color: $dark-color;
    }
    input::-webkit-input-placeholder {
        color: $dark-color;
    }
}


$list-delete-bg: #e1382e;
$list-delete-fg: white;

$list-stripe-a: white;
$list-stripe-b: #f9f9f9;
$list-stripe-border: #eee;

.list-home {
    li {
        font-size: 1.1rem;
        display: block;
        width: 100%;
        height: 64px;
        overflow: hidden;
        border-bottom: 1px solid $list-stripe-border;
    }
    li .wrap {
        display: block;
        position: relative;
        z-index: 10;
        background: $list-stripe-a;
    }
    li:nth-child(2n+2) .wrap {
        background: $list-stripe-b;
    }

    h2 {

        color: $light-color;
        line-height: 26px;
        overflow: hidden;

        span {
            display: inline-block;
            font-size: 1.5rem;
        }

        label {
            font-size: 1.1rem;
            color: $white-color;
            background: $light-color;

            display: inline-block;
            overflow: hidden;
            margin-left: 10px;
            margin-bottom: -2px;
            height: 13px;
            padding: 1px 7px;
            line-height: 14px;
            border-radius: 7px;
        }
    }

    p {
        line-height: 18px;
        color: $dark-color;
    }

    i {
        position: absolute;
        display: block;
        top: 21px;
        right: 15px;
    }

    .wrap {
        padding: 10px 15px;
    }
    .del {
        float: right;
        z-index: 9;
        height: 64px;
        width: 70px;
        line-height: 64px;
        text-align: center;
        color: $list-delete-fg;
        background: $list-delete-bg;
        font-size: 1.5rem;
        margin-top: -64px;
    }
}



.sprite {
    background: url(../images/sprite.png) no-repeat top left;
    background-size: 32px auto;
    display: block;
    overflow:hidden;
}

.sprite-arrow-right {width:21px; height:21px; background-position: -0px -0px}
.sprite-icon-back {width:11px; height:19px; background-position: -19px -22px}
.sprite-icon-delete {width:15px; height:15px; background-position: -0px -41px}
.sprite-icon-history {width:14px; height:15px; background-position: -16px -42px}
.sprite-icon-logo {width:10px; height:16px; background-position: -23px -0px}
.sprite-icon-opts {width:13px; height:11px; background-position: -0px -57px}
.sprite-icon-search {width:18px; height:18px; background-position: -0px -22px}
