@import 'partial';
@import 'ui';
@import 'base';


$main-color: #cfcfcf;
$guest-color: #82bc69;
$master-color: #fff;


body {
    background: $main-color;
    font-size: 1.3rem;
    color: #fff;
}

// 引入 dialog 样式
.dialog {
  @include dialog();
}

// 引入 btn 样式
.btn {
  @include btn(40px);
  background: #31a000;
  color: white;
}

body > header {
  @include header();
  .title {
    color: #484848;
  }
}


$footer-height: 50px;
.footer-placeholder {
  display: block;
  width: 100%;
  height: $footer-height;
}
body > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: $footer-height;
  width: 100%;
  background: white;
  text-align: center;
}



footer {
  .btn {
    margin-top: 5px;
    width: 150px;
  }
}

